@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2ebef;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c3e54;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaeae;
}
